/* macondo-swash-caps-regular - latin */
@font-face {
  font-family: 'Macondo Swash Caps';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/macondo-swash-caps-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('/fonts/macondo-swash-caps-v10-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/macondo-swash-caps-v10-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/macondo-swash-caps-v10-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('/fonts/macondo-swash-caps-v10-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
      url('/fonts/macondo-swash-caps-v10-latin-regular.svg#MacondoSwashCaps') format('svg'); /* Legacy iOS */
}
