:root {
  --background-color: #ddccb2;
  --primary-color: #cdb58f;
  --secondary-color: #e4d7c2;
  --tertiary-color: #f3e6d2;
  --dark-color: #c8b9a2;
  --text-color: #59544c;

  --default-font-family: 'Lato', 'Verdana', Arial, sans-serif;
  --neutral-font-family: 'Lovers Quarrel', var(--default-font-family);
  --dwarf-font-family: 'Macondo Swash Caps', var(--default-font-family);
  --elf-font-family: 'Great Vibes', var(--default-font-family);
  --human-font-family: 'Mr Bedfort', var(--default-font-family);
  --orc-font-family: 'Mansalva', var(--default-font-family);
  --neutral-font: 1em/1.25em var(--neutral-font-family);
  --dwarf-font: 1em/1.25em var(--dwarf-font-family);
  --elf-font: 1em/1.25em var(--elf-font-family);
  --human-font: 1em/1.25em var(--human-font-family);
  --orc-font: 1em/1.25em var(--orc-font-family);
}

html,
body {
  color: var(--text-color);
  font-family: var(--default-font-family);
  font-size: 1.1em;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

a {
  color: var(--text-color);
}
a:hover {
  background-color: var(--tertiary-color);
}

em {
  font-style: italic;
}

h1,
h2,
h3 {
  font-family: var(--neutral-font-family);
  margin: 0;
  padding: 0.25em 0 0;
}
h1 {
  font-size: 3.5em;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2em;
}

strong {
  font-weight: 700;
}

#svelte {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
